[Desktop Entry]
Name=Openify
Comment=Modern Music Player
Exec=openify
Icon=openify.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=Music;Player;Streaming;YouTube;
